* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

header {
    height: 10%;
    background-color: #950303;
}
section {
    height: calc(100% - (10% + 10%));
    background-color: #FCF7E4;
    overflow-y: auto;
}
footer {
    height: 10%;
    background-color:#950303;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
header nav ul {
    list-style-type: none;
}
header nav ul li a {
    text-decoration: none;
    color: #ffffff;
}
#signup-content{
    background-color: aqua;
}